# Ignore virtual environment directories
.venv/
venv/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore Node.js modules (if applicable)
node_modules/

# Ignore potentially sensitive files
Pipfile.lock